@mixin btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  border: 1px solid transparent;
  background-color: transparent;
  margin: 0;
  height: 27px;
  padding: 6px 10px;
  vertical-align: middle;
  border-radius: 0;
  cursor: pointer;
}
