@mixin flex($grow: 0) {
  -webkit-box-flex: $grow;
  -moz-box-flex:    $grow;
  -ms-flex:         $grow;
  -webkit-flex:     $grow;
  flex:             $grow;
  flex-basis: 1px;
}

@mixin flex-order($ordinal) {
  -webkit-box-ordinal-group: $ordinal;
  -moz-box-ordinal-group:    $ordinal;
  -ms-flex-order:            $ordinal;
  -webkit-order:             $ordinal;
  order:                     $ordinal;
}

@mixin flex-wrap($wrap: wrap) {
      -ms-flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

@mixin flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align:   stretch;
  -moz-box-align:      stretch;
  -ms-flex-align:      stretch;
  -webkit-align-items: stretch;
  align-items:         stretch;
}

@mixin flex-horizontal {
  -webkit-box-orient:     horizontal;
  -moz-box-orient:        horizontal;
  -ms-flex-direction:     row;
  -webkit-flex-direction: row;
  flex-direction:         row;
}

@mixin flex-vertical {
  -webkit-box-orient:     vertical;
  -moz-box-orient:        vertical;
  -ms-flex-direction:     column;
  -webkit-flex-direction: column;
  flex-direction:         column;
}

@mixin flex-vcenter {
  -webkit-box-align:   center;
  -moz-box-align:      center;
  -ms-flex-align:      center;
  -webkit-align-items: center;
  align-items:         center;
}

@mixin flex-hcenter {
  -webkit-box-pack:        center;
  -moz-box-pack:           center;
  -ms-flex-pack:           center;
  -webkit-justify-content: center;
  justify-content:         center;
}
