@mixin block {
  display: block;
  margin: $block-margin;
  padding: 0;
}

@mixin clear-fix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

@mixin responsive-show($parent) {
  #{$parent}      { display: initial !important; }
  // table#{$parent} { display: initial !important; }
  // tr#{$parent}    { display: initial !important; }
  // th#{$parent},
  // td#{$parent}    { display: initial !important; }
}

@mixin responsive-hide($parent) {
  #{$parent} { display: none !important }
}

@mixin fill-x {
  width: 100%;
}

@mixin fill-y {
  height: 100%;
}

@mixin fill-xy {
  @include fill-x;
  @include fill-y;
}

@mixin overflow-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin overflow-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin overflow-xy {
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin flush {
  margin: 0;
}
