@mixin pct-width($bp, $i, $t) {
  .col-#{$bp}-#{$i} {
    width: percentage($i / $t);
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $col-padding;
    padding-right: $col-padding;
    min-height: 1px;
  }
}

@mixin pct-offset($bp, $i, $t) {
  .col-#{$bp}-offset-#{$i} {
    margin-left: percentage($i / $t);
  }
}
