<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>{% block title_block %}Flexboss{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets "flexboss_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block styles %}{% endblock %}
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block body_scripts %}{% endblock %}
  </body>
</html>