{% extends "layouts/basic.html" %}
{% block styles -%}
  <style>
    body, html {
      width: 100%;
      height: 100%;
    }

    .section-header > * {
      margin-bottom: 0;
    }

    .section-header {
      border-bottom: 1px solid #eee;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }

    #contents,
    #section-links {
      padding: 0 10px;
    }

    .column-heading {
      border-bottom: 1px solid #aaa;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

    #section-links {
      min-width: 200px;
      background-color: #eee;
    }

    .grid-ex > div > div {
      background-color: #efe;
      border: 1px solid #8b8;
      margin: 5px 0;
      padding: 5px;
    }

    .rh-ex > div {
      float: left;
      margin-right: 10px;
      background-color: #eef;
      border: 1px solid #88f;
      padding: 5px;
    }
  </style>
{% endblock -%}
{% block body_scripts -%}
  <script>
    (function() {
      function on(target, event, handler) {
        target.addEventListener(event, handler);
      }
      function off(target, event, handler) {
        target.removeEventListener(event, handler);
      }
      function byId(id) {
        var elem = document.getElementById(id);
        return elem;
      }
      function showModal(id) {
        var elem = byId(id);
        // elem.style.display = "block";
        elem.className = (elem.className || "") + " show";
      }
      function hideModal(id) {
        var elem = byId(id);
        elem.className = (elem.className || "").replace("show", "");
        // elem.style.display = "none";
      }

      on(byId("show-modal"), "click", function() { showModal("the-modal"); });
      on(byId("modal-ok"), "click", function() { hideModal("the-modal"); });
      on(byId("modal-cancel"), "click", function() { hideModal("the-modal"); });
    })();
  </script>
{% endblock -%}
{% macro render_section(title, anchor) -%}
  <!-- {{ links.append((title, anchor)) }} -->
  <div class="section">
    <div class="section-header">
      <h3 id="{{ anchor }}">{{ title }}</h3>
    </div>
    <div class="section-body">
      {{ caller() }}
    </div>
  </div>
{% endmacro -%}
{% block body -%}
  <div class="flex-container flex-horizontal-sm flex-vertical-xs fill-xy-sm">
    <div class="flex-sm-1 flex-xs-order-1 flex-sm-order-0 overflow-y-sm" id="contents">
      <h1 id="top" class="column-heading">Flexboss</h1>
      <p>
        Flexboss is a responsive flexbox-based CSS layout framework, primarily aimed at web apps.
      </p>
      <p>
        Grid systems like <a href="//getbootstrap.com">Bootstrap</a> are excellent, but sometimes
        you need the kind of layout that only flexbox can offer. In these cases, Flexboss is your
        friend. Using a responsive breakpoint system very similar to Bootstrap's, it provides
        helper classes to control application layout for different sizes.
      </p>
      <p>
        As an example, notice how the navigation on this page is pulled to the right and the content
        pane is y-scrollable and takes up the remaining width of the page. However, if you shrink
        the browser window into the XS breakpoint range, the navigation section jumps to the top of
        the page, and the content section stops being scrollable.
      </p>
      <p>
        In addition to the flexbox classes, Flexboss reimplements a few of our favorite and
        most-used constructs from Bootstrap.
      </p>
      <h1 class="column-heading">Examples</h1>
      {% call render_section("Flexbox", "flexbox") -%}
        <p>
          To create a flex container, simply add the <code>.flex-container</code> class to a div.
          All of its children will then be laid out as flex items. To select the direction in which
          children will be laid out, add a <code>.flex-horizontal</code> or <code>.flex-vertical</code>
          class. The flex direction can be changed with responsive variations of these classes:
          <code>.flex-horizontal-xs .flex-horizontal-sm</code> etc.
        </p>
        <p>
          Children can be given a <code>.flex-<i>n</i></code> class to given them <i>n</i> units of
          flex. Flex units are relative, so two children, one with <code>.flex-1</code> and one with
          <code>.flex-2</code> will result in a container divded into 3 equal units, with the first
          child taking up 1 unit and the 2nd child taking up 2. If a child does not have a
          <code>.flex-<i>n</i></code> class, they will take up as much space as they need. Similarly
          to the flex direction classes, there are responsive flavors for each of the flex unit
          classes. The default build includes flex-units from 0-12.
        </p>
        <p>
          Children can also be ordered independently of their order in markup with
          <code>.flex-order-<i>n</i></code> classes. As with the flex direction and units, flex
          order can be changed based on break points.
        </p>
        <p>
          As an example, the markup that results in this page's responsive flexblox layout is
          presented below. For the xs breakpoint, the main flex container is vertical, the
          navigation appears first, contents second, and the entire page will scroll as one. At
          the sm breakpoint and above, the container is horizontal, the contents appear first, then
          navigation, and the contents can scroll independently of the navigation.
        </p>
        {% htmlsample %}
          <div class="flex-container flex-vertical-xs flex-horizontal-sm">
            <div class="flex-1 flex-order-xs-1 flex-order-sm-0 overflow-y-sm">
              Contents...
            </div>
            <div class="flex-order-xs-0 flex-order-sm-1">
              Navigation...
            </div>
          </div>
        {% endhtmlsample %}
      {% endcall -%}
      {% call render_section("Typography", "typography") -%}
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p>This is a paragrph.</p>
        <p>This is another paragraph with <em>Emphasized</em>, and <strong>Strong</strong> text. <a href="#">Also a link.</a></p>
        <p>This paragraph has <i>Italicized</i> and <b>Bold</b> text.</p>
      {% endcall -%}
      {% call render_section("Buttons", "buttons") -%}
        <p>Individual buttons:</p>
        <div class="block">
          <button class="btn btn-default">Default</button>
          <button class="btn btn-info">Info</button>
          <button class="btn btn-success">Success</button>
          <button class="btn btn-warning">Warning</button>
        </div>
        <p>Button group:</p>
        <div class="btn-grp">
          <button class="btn btn-default">Default</button>
          <button class="btn btn-info">Info</button>
          <button class="btn btn-success">Success</button>
          <button class="btn btn-warning">Warning</button>
        </div>
        <p>Button Links</p>
        <div class="block">
          <a href="#buttons" class="btn btn-default">A Link</a>
          <a href="#buttons" class="btn btn-info">Link #2</a>
          <a href="#buttons" class="btn btn-success">Link #3</a>
          <a href="#buttons" class="btn btn-warning">Link #4</a>
        </div>
        <p>Sizes</p>
        <div class="block">
          <button class="btn btn-default btn-lg">Large Button</button>
          <button class="btn btn-default">Default</button>
          <button class="btn btn-default btn-sm">Small Button</button>
        </div>
      {% endcall -%}
      {% call render_section("Tables", "tables") -%}
        {% macro render_sample_table(classes) -%}
          <table class="tbl {{ classes }}">
            <thead>
              <tr><th></th><th>One</th><th>Two</th><th>Three</th><th>Four</th></tr>
            </thead>
            <tbody>
              <tr><th>One</th><td>1 &times; 1 = 1</td><td>1 &times; 2 = 2</td><td>1 &times; 3 = 3</td><td>1 &times; 4 = 4</td></tr>
              <tr><th>Two</th><td>2 &times; 1 = 2</td><td>2 &times; 2 = 4</td><td>2 &times; 3 = 6</td><td>2 &times; 4 = 8</td></tr>
              <tr><th>Three</th><td>3 &times; 1 = 3</td><td>3 &times; 2 = 6</td><td>3 &times; 3 = 9</td><td>3 &times; 4 = 12</td></tr>
              <tr><th>Four</th><td>4 &times; 1 = 4</td><td>4 &times; 2 = 8</td><td>4 &times; 3 = 12</td><td>4 &times; 4 = 16</td></tr>
            </tbody>
          </table>
        {% endmacro -%}
        <p>Basic Table</p>
        {{ render_sample_table() }}
        <p>Bordered Table</p>
        {{ render_sample_table("tbl-brd") }}
        <p>X-Bordered Table</p>
        {{ render_sample_table("tbl-brd-x") }}
        <p>Y-Bordered Table</p>
        {{ render_sample_table("tbl-brd-y") }}
        <p>XY-Bordered Table</p>
        {{ render_sample_table("tbl-brd-xy") }}
        <p>Header-Bordered Table</p>
        {{ render_sample_table("tbl-brd-h") }}
        <p>Striped Table</p>
        {{ render_sample_table("tbl-strp") }}
      {% endcall -%}
      {% call render_section("Lists", "lists") -%}
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p>Ordered List</p>
            <ol>
              <li>One</li>
              <li>Two</li>
              <li>Three and something that is long enough to wrap so that we can see how the wrapping works on the lists and how do you do?</li>
              <li>Four</li>
            </ol>
            <p>Unordered List</p>
            <ul>
              <li>One</li>
              <li>Two</li>
              <li>Three and something that is long enough to wrap so that we can see how the wrapping works on the lists and how do you do?</li>
              <li>Four</li>
            </ul>
            <p>Nested Lists</p>
            <ul>
              <li>Something
                <ol>
                  <li>In the way</li>
                  <li>She moves
                    <ul>
                      <li>Something in the way</li>
                    </ul>
                  </li>
                </ol>
              </li>
            </ul>
            <p>Definition List</p>
            <dl>
              <dt>One</dt>
              <dd>Some info about one</dd>
              <dt>Two</dt>
              <dd>Some info about two</dd>
              <dt>Three</dt>
              <dd>Some info about three and something that is long enough to wrap so that we can see how the wrapping works on the lists and how do you do?</dd>
              <dt>Four</dt>
              <dd>Some info about four</dd>
              <dt>A longer term</dt>
              <dd>A longer long longer long long long definition</dd>
            </dl>
          </div>
        </div>
      {% endcall -%}
      {% call render_section("Forms", "forms") -%}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <form>
              <div class="form-grp">
                <label for="text-inp">Text Input</label>
                <input type="text" id="text-inp" class="form-ctrl" value="text input">
              </div>
              <div class="form-grp">
                <label for="text-inp-dis">Text Input Disabled</label>
                <input type="text" id="text-inp-dis" class="form-ctrl" value="text input" disabled>
              </div>
              <div class="form-grp">
                <label for="text-inp-sh">Text Input Shaded</label>
                <input type="text" id="text-inp-sh" class="form-ctrl shaded" value="text input">
              </div>
              <div class="form-grp">
                <label for="text-inp-sh-dis">Text Input Shaded Disabled</label>
                <input type="text" id="text-inp-sh-dis" class="form-ctrl shaded" value="text input" disabled>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-grp">
                    <label for="cb-inp">Checkbox</label>
                    <input type="checkbox" id="cb-inp">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-grp">
                    <label for="rdo-inp">Radio</label>
                    <input type="radio" id="rdo-inp">
                  </div>
                </div>
              </div>
              <div class="form-grp">
                <label for="ta-inp">Text Area</label>
                <textarea rows=3 id="ta-inp" class="form-ctrl">I'm a text area!!</textarea>
              </div>
              <div class="form-grp">
                <label for="ta-inp-sh">Text Area</label>
                <textarea rows=3 id="ta-inp-sh" class="form-ctrl shaded">I'm a text area!!</textarea>
              </div>
              <div class="form-grp">
                <label for="select-inp">Select Box</label>
                <select id="select-inp" class="form-ctrl">
                  <option>One</option>
                  <option>Two</option>
                  <option>Three</option>
                  <option>Four</option>
                </select>
              </div>
              <div class="form-grp">
                <label for="select-inp-sh">Select Box Shaded</label>
                <select id="select-inp-sh" class="form-ctrl shaded">
                  <option>One</option>
                  <option>Two</option>
                  <option>Three</option>
                  <option>Four</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      {% endcall -%}
      {% call render_section("Input Groups", "input-groups") -%}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="input-grp">
              <div class="min">
                <button class="btn btn-default"><span class="fa fa-cog"></span></button>
              </div>
              <div class="max">
                <input type="text" class="form-ctrl" placeholder="Search terms...">
              </div>
              <div class="min">
                <button class="btn btn-default"><span class="fa fa-search"></span></button>
              </div>
              <div class="min">
                <button class="btn btn-default"><span class="fa fa-remove"></span></button>
              </div>
            </div>

            <div class="input-grp">
              <div class="max">
                <input type="text" class="form-ctrl" placeholder="username">
              </div>
              <div class="max">
                <input type="password" class="form-ctrl" placeholder="password">
              </div>
              <div class="min">
                <button class="btn btn-info">Sign In</button>
              </div>
              <div class="min">
                <button class="btn btn-default">Cancel</button>
              </div>
            </div>

            <div class="input-grp">
              <div class="min checkbox">
                <input type="checkbox" checked>
              </div>
              <div class="max">
                <input type="text" value="By a checkbox">
              </div>
            </div>
          </div>
        </div>
      {% endcall -%}
      {% call render_section("Panels", "panels") -%}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="panel">
              <div class="panel-header">
                <button class="close">&times;</button>
                <h6 class="panel-title">
                  A Panel
                </h6>
              </div>
              <div class="panel-body">
                <p>This is my body</p>
                <p>And this is my body</p>
              </div>
              <div class="panel-footer">
                <button class="btn btn-default">One Button</button>
                <button class="btn btn-default">Another Button</button>
                <a href="#">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      {% endcall -%}
      {% call render_section("Tooltips", "tooltips") -%}
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>.tooltip-top</p>
          <div class="tooltip tooltip-top">
            <p class="tooltip-content">
              This is a tooltip!
            </p>
            <div class="tooltip-arrow tooltip-arrow-back"></div>
            <div class="tooltip-arrow tooltip-arrow-fore"></div>
          </div>

          <p>.tooltip-right</p>
          <div class="tooltip tooltip-right">
            <p class="tooltip-content">
              This is a tooltip!
            </p>
            <div class="tooltip-arrow tooltip-arrow-back"></div>
            <div class="tooltip-arrow tooltip-arrow-fore"></div>
          </div>

          <p>.tooltip-bottom</p>
          <div class="tooltip tooltip-bottom">
            <p class="tooltip-content">
              This is a tooltip!
            </p>
            <div class="tooltip-arrow tooltip-arrow-back"></div>
            <div class="tooltip-arrow tooltip-arrow-fore"></div>
          </div>

          <p>.tooltip-left</p>
          <div class="tooltip tooltip-left">
            <p class="tooltip-content">
              This is a tooltip!
            </p>
            <div class="tooltip-arrow tooltip-arrow-back"></div>
            <div class="tooltip-arrow tooltip-arrow-fore"></div>
          </div>
        </div>
      </div>
      {% endcall -%}
      {% call render_section("Modals", "modals") -%}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <p>
              Modals are simply panels centered horizontally on the page, over a translucent
              overlay. You are responsible for showing and hiding them.
            </p>
            <div class="btn-grp">
              <button class="btn btn-info" id="show-modal">Show Modal</button>
            </div>
          </div>
        </div>
      {% endcall -%}
      {% call render_section("Alerts", "alert") -%}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="alert alert-info">
              <button class="close">&times</button>
              <p><b>Hello</b></p>
              <p>How are you doing today?</p>
            </div>

            <div class="alert alert-warning">
              <button class="close">&times</button>
              <p><b>Warning</b></p>
              <p>There's walkers about, step carefully and follow Daryl.</p>
            </div>

            <div class="alert alert-success">
              <button class="close">&times</button>
              <p><b>Success!</b></p>
              <p>Your expelliarmus spell defeated Lord Voldemort!</p>
            </div>
            <div class="alert alert-success">
              <button class="close">&times;</button>
              <p>
                <b>
                  Here's a really really really long title to try and see how the close button
                  interacts with the title.
                </b>
              </p>
              <p>I guess that's a wrap.</p>
            </div>
          </div>
        </div>
      {% endcall -%}
      {% call render_section("Grid", "grid") -%}
        <div class="row grid-ex">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div>LG 3, MD 4, SM 6, XS 12</div></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div>LG 3, MD 4, SM 6, XS 12</div></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div>LG 3, MD 4, SM 6, XS 12</div></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><div>LG 3, MD 4, SM 6, XS 12</div></div>
        </div>
        <div class="row grid-ex">
          <div class="col-xs-6"><div>XS 6</div></div>
          <div class="col-xs-6"><div>XS 6</div></div>
        </div>
      {% endcall -%}
      {% call render_section("Responsive Helpers", "responsive-helpers") -%}
        <div class="block clear-fix rh-ex">
          <div class="hidden-xs">Size is not XS</div>
          <div class="hidden-sm">Size is not SM</div>
          <div class="hidden-md">Size is not MD</div>
          <div class="hidden-lg">Size is not LG</div>
        </div>
        <div class="block clear-fix rh-ex">
          <div class="visible-xs">Size is XS</div>
          <div class="visible-sm">Size is SM</div>
          <div class="visible-md">Size is MD</div>
          <div class="visible-lg">Size is LG</div>
        </div>
      {% endcall -%}
    </div>
    <div class="flex-xs-order-0 flex-sm-order-1" id="section-links">
      <h1 class="column-heading">Sections</h1>
      <ul>
        {% for link in links -%}
          <li><a href="#{{ link[1] }}">{{ link[0] }}</a></li>
        {% endfor -%}
        <li><a href="#top">Top</a></li>
      </ul>
    </div>
  </div>
  <div class="modal modal-wider" id="the-modal">
    <div class="modal-inner">
      <div class="panel">
        <div class="panel-header">
          <h4 class="panel-title">A Panel</h4>
        </div>
        <div class="panel-body">
          <p>This is my body</p>
          <p>And this is my body</p>
          <h1>O RLY?</h1>
        </div>
        <div class="panel-footer">
          <button class="btn btn-default" id="modal-cancel">Cancel</button>
          <button class="btn btn-default" id="modal-ok">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock -%}
