.alert {
  @include block;

  padding: 10px;
  position: relative;

  > *:last-child {
    margin-bottom: 0;
  }
}

.info {
  color: $info-darker;
}

.success {
  color: $success-darker;
}

.warning {
  color: $warning-darker;
}

.alert-info {
  background-color: $info-lighter;
  color: $info-darker;
  border: 1px solid $info-darker;
}

.alert-success {
  background-color: $success-lighter;
  color: $success-darker;
  border: 1px solid $success-darker;
}

.alert-warning {
  background-color: $warning-lighter;
  color: $warning-darker;
  border: 1px solid $warning-darker;
}
