* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $gray-darkest;
  background-color: $base-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: $base-font-size + 6 * $font-scaling;
}

h2 {
  font-size: $base-font-size + 5 * $font-scaling;
}

h3 {
  font-size: $base-font-size + 4 * $font-scaling;
}

h4 {
  font-size: $base-font-size + 3 * $font-scaling;
}

h5 {
  font-size: $base-font-size + 2 * $font-scaling;
}

h6 {
  font-size: $base-font-size + 1 * $font-scaling;
}

h1, h2, h3, h4, h5, h6, p {
  @include block;
}

a {
  &,
  &:visited {
    text-decoration: none;
    color: $info-darker;
  }

  &:hover {
    text-decoration: underline;
    color: $info-darker;
  }
}

code {
  font-family: monospace;
}

pre {
  @include block;

  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $gray-lightest;
}

button,
input,
select {
  vertical-align: middle;
}
