.btn {
  @include btn;

  &:hover {
    background-color: $gray-lightest;
  }

  &:disabled {
    color: $gray;
  }
}

.btn-lg {
  font-size: 16px;
  padding: 10px;
  height: 40px;
}

.btn-sm {
  font-size: 8px;
  padding: 3px 5px;
  height: 16px;
}

a.btn:hover {
  text-decoration: none;
}

.close {
  @include btn;

  position: absolute;
  padding: 0;
  right: 5px;
  top: 3px;
  font-size: 18px;
  height: 22px;
  // vertical-align: top;
  font-weight: bold;
}

$btn-darken: 5%;

.btn-default,
a.btn-default {
  background-color: $base-color;
  border-color: $gray-lighter;
  color: $gray-darkest;

  &:hover {
    background-color: darken($base-color, $btn-darken);
  }
}

.btn-info,
a.btn-info {
  background-color: $info-darker;
  border-color: $info-darker;
  color: #fff;

  &:hover {
    background-color: darken($info-darker, $btn-darken);
  }
}

.btn-success,
a.btn-success {
  background-color: $success-darker;
  border-color: $success-darker;
  color: #fff;

  &:hover {
    background-color: darken($success-darker, $btn-darken);
  }
}

.btn-warning,
a.btn-warning {
  background-color: $warning-darker;
  border-color: $warning-darker;
  color: #fff;

  &:hover {
    background-color: darken($warning-darker, $btn-darken);
  }
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-grp {
  @include block;
  @include clear-fix;

  > .btn {
    display: block;
    float: left;
    border-left-width: 0;
  }

  > .btn:first-child {
    border-left-width: 1px;
  }
}
