/* NOTE: The purpose of these classes is to allow me to set up without having
         to add specific styles to ids or classes of elements. Similar to
         bootstrap's row / col classing system. */
.flex-container {
  @include flex-container;
}

.flex-horizontal {
  @include flex-horizontal;
}

.flex-vertical {
  @include flex-vertical;
}

.flex-normal {
  -webkit-box-direction: normal;
  -moz-box-direction:    normal;
}

.flex-reverse {
  -webkit-box-direction: reverse;
  -moz-box-direction:    reverse;
}

.flex-horizontal.flex-reverse {
  -ms-flex-direction:     row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction:         row-reverse;
}

.flex-vertical.flex-reverse {
  -ms-flex-direction:     column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction:         column-reverse;
}

.flex-vcenter {
  @include flex-vcenter;
}

.flex-hcenter {
  @include flex-hcenter;
}

//.flex-horizontal > .flex {
//  width: 0px;  /* Firefox */
//}

@mixin flex-bp($bp, $grow: 0) {
  .flex-#{$grow}-#{$bp} {
    @include flex($grow);
  }
}

@mixin flex-order-bp($bp, $ordinal) {
  .flex-order-#{$ordinal}-#{$bp} {
    @include flex-order($ordinal);
  }
}

@mixin make-flexes($bp, $n) {
  @for $i from 0 through $n {
    @include flex-bp($bp, $i);
  }
  @for $i from 0 through $n {
    @include flex-order-bp($bp, $i);
  }
}

@mixin make-flex-containers($bp) {
  .flex-container-#{$bp} {
    @include flex-container;
  }
  .flex-horizontal-#{$bp} {
    @include flex-horizontal;
  }
  .flex-vertical-#{$bp} {
    @include flex-vertical;
  }
}

@for $i from 0 through $flex-count {
  .flex-#{$i} { @include flex($i); }
}

@for $i from 0 through $flex-count {
  .flex-order-#{$i} { @include flex-order($i); }
}

@media (max-width: $screen-xs-max) {
  @include make-flexes(xs, $flex-count);
  @include make-flex-containers(xs);
}

@media (min-width: $screen-sm-min) {
  @include make-flexes(sm, $flex-count);
  @include make-flex-containers(sm);
}

@media (min-width: $screen-md-min) {
  @include make-flexes(md, $flex-count);
  @include make-flex-containers(md);
}

@media (min-width: $screen-lg-min) {
  @include make-flexes(lg, $flex-count);
  @include make-flex-containers(lg);
}
