input[type=text],
input[type=password],
input[type=email],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea {

  padding: 5px;
  border: 1px solid $gray-lighter;
  border-radius: 0;
  background-color: $base-color;

  &.shaded {
    border: 1px solid $gray-lightest;
    background-color: $gray-lightest;
  }

  &:disabled {
    background-color: $gray-lightest;
  }
}

input[type=file] {
  border: 0;
}

input,
select {
  height: 27px;
}

input[type=checkbox] {
  height: 12px;
}

input,
select,
textarea {
  &.form-ctrl {
    margin: 0;
    display: block;
    width: 100%;
  }
}

select.form-ctrl {
  height: 27px;
}

.form-grp {
  @include block;

  label {
    display: block;
    margin: 0 0 3px 0;

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}

.radio,
.checkbox {
  @include block;

  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {

}

//label {
//  > input[type="checkbox"],
//  > input[type="radio"] {
//    display: inline-block;
//    margin-right: 5px;
//  }
//}

.input-grp {
  @include flex-container;
  @include flex-horizontal;
  padding: 0;
  margin: $block-margin;

  > .min {

  }

  > .checkbox,
  > .radio {
    padding: 6px 0 0 5px;
    margin-bottom: 0;

    &:first-child {
      padding-left: 0;
    }

    & + .min > *,
    & + .max > * {
      border-left-width: 1px !important;
    }

    & + .text {
      padding-left: 0 !important;
    }
  }

  > .text {
    padding: 6px 5px;

    & + .min > *,
    & + .max > * {
      border-left-width: 1px !important;
    }
  }

  > .max {
    @include flex(1);

    > * {
      width: 100%;
    }
  }

  > * > * {
    border-left-width: 0 !important;
  }

  > *:first-child > * {
    border-left-width: 1px !important;
  }
}
