.container {
  padding: 0 10px;
}

.row {
  @include clear-fix;
  margin: 0;
  margin-left: -$col-padding;
  margin-right: -$col-padding;
}

@mixin make-grid($bp, $n) {
  @for $i from 1 through $n {
    @include pct-width($bp, $i, $n);
  }
  @for $i from 1 through $n {
    @include pct-offset($bp, $i, $n);
  }
}

@include make-grid(xs, 12);

@media (min-width: $screen-sm-min) {
  @include make-grid(sm, 12);
}

@media (min-width: $screen-md-min) {
  @include make-grid(md, 12);
}

@media (min-width: $screen-lg-min) {
  @include make-grid(lg, 12);
}
