.block {
  @include block;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.no-user-select,
.no-user-select *,
{
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

@mixin make-fills($ext: "") {
  .fill-x#{$ext} {
    @include fill-x;
  }

  .fill-y#{$ext} {
    @include fill-y;
  }

  .fill-xy#{$ext} {
    @include fill-xy;
  }

  .overflow-x#{$ext} {
    @include overflow-x;
  }

  .overflow-y#{$ext} {
    @include overflow-y;
  }

  .overflow-xy#{$ext} {
    @include overflow-xy;
  }
}

@include make-fills();
@include make-fills(-xs);

@media (min-width: $screen-sm-min) {
  @include make-fills(-sm);
}

@media (min-width: $screen-md-min) {
  @include make-fills(-md);
}

@media (min-width: $screen-lg-min) {
  @include make-fills(-lg);
}

.flush {
  @include flush;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-fix {
  @include clear-fix;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@include responsive-hide('.hide');
@include responsive-show('.show');

@include responsive-hide('.visible-xs, .visible-sm, .visible-md, .visible-lg');
@include responsive-show('.hidden-xs');
@include responsive-show('.hidden-sm');
@include responsive-show('.hidden-md');
@include responsive-show('.hidden-lg');


@media (max-width: $screen-xs-max) {
  @include responsive-show('.visible-xs');
  @include responsive-hide('.hidden-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-show('.visible-sm');
  @include responsive-hide('.hidden-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-show('.visible-md');
  @include responsive-hide('.hidden-md');
}

@media (min-width: $screen-lg-min) {
  @include responsive-show('.visible-lg');
  @include responsive-hide('.hidden-lg');
}
