ol, ul {
  @include block;
  list-style-position: outside;
  padding-left: 30px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  padding: 0 0 5px 0;
  margin: 0;
}

dl {
  @include block;
}

dt {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

dd {
  padding: 0 0 5px 0;
  margin: 0 0 0 20px;
}
