.panel {
  @include block;

  width: 100%;
  border: $panel-border;
}

.panel-header,
.panel-footer {
  background-color: $gray-lightest;
  padding: 10px;
}

.panel-header {
  // border-bottom: $panel-border;
  position: relative;

  .close {
    right: 7px;
  }
}

.panel-footer {
  @include clear-fix;

  // border-top: $panel-border;

  .btn {
    float: right;
    margin-left: 5px;

    &.float-left {
      float: left;
      margin-left: 0;
      margin-right: 5px;
    }
  }
}

.panel-title {
  margin: 0;
  padding: 0;
  position: relative;
}

.panel-body {
  padding: 10px;
  background-color: $base-color;

  > *:last-child {
    margin-bottom: 0;
  }

  .container {
    padding: 0;
  }
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, .75);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;

  @include overflow-y;

  .modal-inner {
    width: 400px;
    margin: 50px auto;
  }

  .panel {
    width: 100%;
  }

  .show {
    display: block;
  }
}

.modal-wide > .modal-inner {
  width: 500px;
}

.modal-wider > .modal-inner {
  width: 600px;
}

.modal-widest > .modal-inner {
  width: 800px;
}

@media (max-width: $screen-xs-max) {
  .modal {
    .modal-inner {
      width: 100% !important;
      // margin: 0;
    }
  }
}

.modal-max {
  .modal-inner {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
