.tbl {
  @include block;
  display: table;
  border-collapse: collapse;

  thead,
  tbody,
  tfoot,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }

  th {
    font-weight: bold;
    background-color: $tbl-background;
  }

  td {
    font-weight: normal;
  }

  th, td {
    padding: 3px 5px;
  }

  thead th {
    text-align: center;
  }

  tbody th {
    text-align: right;
  }
}

.tbl-th-no-fill {
  th {
    background-color: transparent;
  }
}

.tbl-brd {
  border: $tbl-border;
}

.tbl-brd-h {
  thead th {
    border-bottom: $tbl-border;
  }

  tbody th {
    border-right: $tbl-border;
  }
}

.tbl-brd-x {
  border-top: $tbl-border;
  border-bottom: $tbl-border;

  th, td {
    border-bottom: $tbl-border;
  }
}

.tbl-brd-y {
  border-left: $tbl-border;
  border-right: $tbl-border;

  th, td {
    border-right: $tbl-border;
  }
}

.tbl-brd-xy {
  border: $tbl-border;

  th, td {
    border-bottom: $tbl-border;
    border-right: $tbl-border;
  }
}

.tbl-strp {
  tbody tr:nth-child(even) {
    background-color: $tbl-background;
  }
}
