$tooltip-size: 10px;
$tooltip-background-color: $gray-lightest;
$tooltip-border-color: $border-color;
$tooltip-margin-size: $tooltip-size + 1px;
$tooltip-back-pos: -2 * $tooltip-size;
$tooltip-fore-pos: $tooltip-back-pos + 1px;

.tooltip {
  background-color: $tooltip-background-color;
  border: 1px solid $tooltip-border-color;
  position: relative;
  border-radius: 0;
}

.tooltip-content {
  padding: 0;
  margin: 10px;
}

.tooltip-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: $tooltip-size solid transparent;
}

.tooltip-top {
  margin-bottom: $tooltip-margin-size;

  .tooltip-arrow {
    margin-left: -$tooltip-size;
    left: 50%;
  }

  .tooltip-arrow-back {
    border-top-color: $tooltip-border-color;
    bottom: $tooltip-back-pos;
  }

  .tooltip-arrow-fore {
    border-top-color: $tooltip-background-color;
    bottom: $tooltip-fore-pos;
  }
}

.tooltip-right {
  margin-left: $tooltip-margin-size;

  .tooltip-arrow {
    margin-top: -$tooltip-size;
    top: 50%;
  }

  .tooltip-arrow-back {
    border-right-color: $tooltip-border-color;
    left: $tooltip-back-pos;
  }

  .tooltip-arrow-fore {
    border-right-color: $tooltip-background-color;
    left: $tooltip-fore-pos;
  }
}

.tooltip-bottom {
  margin-top: $tooltip-margin-size;

  .tooltip-arrow {
    margin-left: -$tooltip-size;
    left: 50%;
  }

  .tooltip-arrow-back {
    border-bottom-color: $tooltip-border-color;
    top: $tooltip-back-pos;
  }

  .tooltip-arrow-fore {
    border-bottom-color: $tooltip-background-color;
    top: $tooltip-fore-pos;
  }
}

.tooltip-left {
  margin-right: $tooltip-margin-size;

  .tooltip-arrow {
    margin-top: -$tooltip-size;
    top: 50%;
  }

  .tooltip-arrow-back {
    border-left-color: $tooltip-border-color;
    right: $tooltip-back-pos;
  }

  .tooltip-arrow-fore {
    border-left-color: $tooltip-background-color;
    right: $tooltip-fore-pos;
  }
}
