$darken: 20%;
$lighten: 20%;

// Brand Colors
$base-color: #fff;

$font-stack: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
$narrow-font-stack: "Avenir Next Condensed", "Arial Narrow", + $font-stack;

$gray-lighter: rgb(194, 194, 194);
$gray-darker: rgb(130, 130, 130);
$gray: mix($gray-lighter, $gray-darker);
$gray-lightest: lighten($gray-lighter, $lighten);
$gray-darkest: darken($gray-darker, $darken);

$info-darker: rgb(49, 112, 143);
$info-lighter: rgb(217, 237, 247);
$info-base: mix($info-darker, $info-lighter);

$success-darker: rgb(60, 118, 61);
$success-lighter: rgb(223, 240, 216);
$success-base: mix($success-darker, $success-lighter);

$warning-darker: rgb(169, 68, 66);
$warning-lighter: rgb(242, 222, 222);
$warning-base: mix($warning-darker, $warning-lighter);

$base-font-size: 12px;
$base-line-height: 1.2;
$font-scaling: 4px;

$col-padding: 5px;
$block-margin: 0 0 10px 0;
$font-path: "/static/assets/fonts/";
$tbl-background: #fafafa;
$border-color: #efefef;
$tbl-border: 1px solid $border-color;
$panel-border: 1px solid $border-color;

$screen-lg-min: 1200px;
$screen-md-max: $screen-lg-min - 1;
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min - 1;
$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min - 1;

$flex-count: 4;
